<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{% extends "base.html" %}

{% block content %}
    <p> </p>
    <h2 align="left">Список профессий</h2>
    <p> </p>

    {% if mark == "ol" %}
        <ol>
            {% for name in proph_list %}
            <li>{{name}}</li>
            {% endfor %}
        </ol>

    {% elif mark == "ul" %}
        <ul>
            {% for name in proph_list %}
            <li>{{name}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Вы ввели некорректный парметр для вывода списка профессий</h2>
        <p> </p>
        <h3><i>Параметры: ul - маркированный список, ol - нумерованный.</i></h3>
    {% endif %}

{% endblock %}

</body>
</html3